.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0px;
}

.header__list-item {
  flex-grow: 1;
  margin: 0px 5px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.answer__plug-img {
  border-radius: 10px;
  width: 150px;
}